.auth-page {
  background: #0f172a;

  min-height: 100vh;

  display: flex;

  align-items: center;

  padding: 120px 0;
}

.auth-card {
  background: #1e293b;

  padding: 50px;

  border-radius: 24px;

  color: white;

  h1 {
    font-size: 42px;

    font-weight: 700;
  }

  p {
    color: #94a3b8;

    margin-top: 10px;
  }

  .form-label {
    margin-bottom: 10px;
  }

  .form-control {
    background: #334155 !important;

    border: none !important;

    color: white !important;

    height: 55px;

    border-radius: 12px;

    &:focus {
      box-shadow: none !important;
    }
  }

  .auth-btn {
    width: 100%;

    height: 55px;

    border: none;

    border-radius: 14px;

    background: linear-gradient(
      135deg,
      #6c3bff,
      #ff4d8d
    );

    font-weight: 600;

    margin-top: 10px;
  }

  .divider {
    text-align: center;

    margin: 30px 0;

    color: #94a3b8;
  }

  .social-buttons {
    display: flex;

    gap: 15px;

    button {
      flex: 1;

      height: 50px;

      border-radius: 12px;

      border: none;

      display: flex;

      align-items: center;

      justify-content: center;

      gap: 10px;
    }
  }

  .switch-auth {
    text-align: center;

    margin-top: 30px;

    a {
      color: #6c3bff;

      margin-left: 8px;

      text-decoration: none;
    }
  }
}