.custom-navbar {

  padding: 20px 0;

  transition: all 0.3s ease;

  position: fixed;

  width: 100%;

  z-index: 999;

  background: transparent;

  .logo {
    font-size: 32px;

    font-weight: 700;

    color: white !important;
  }

  .nav-link {
    margin-left: 25px;

    color: white !important;

    font-size: 16px;

    font-weight: 500;

    transition: 0.3s;

    &:hover {
      color: #60a5fa !important;
    }
  }
}

.scrolled {

  background: rgba(15, 23, 42, 0.85);

  backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0,0,0,0.2);

  padding: 14px 0;
}